# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3
*.sqlite
sql_app.db
sos.db
data/*.db

# Logs
*.log
log.txt

# Testing
.pytest_cache/

